{% extends "base.html" %}
{% load markdownify %}

{% block content %}
    <main>
        <div>
            <h1>{{ project.name }}</h1>
            {{ project.description|markdownify }}
            <a href="{% url 'create_task' %}">Create a new task</a>
            <h2>Tasks</h2>
            {% if project.tasks.all %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    {% for x in project.tasks.all %}
                        <tr>
                            <td>{{ x.name }}</td>
                            <td>{{ x.assignee }}</td>
                            <td>{{ x.start_date }}</td>
                            <td>{{ x.due_date }}</td>
                            {% if task.is_completed %}
                                <td>yes</td>
                            {% else %}
                                <td>no</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}